body{
  background-color:rgb(208, 196, 250);
}
img{
  max-width:50px;
  max-height:50px;
}
p{
  font-size: 2rem;
}
h1{
  font-family: Lobster, Monospace;
}
#author{
  text-align:right;
}
#footer{
  color:grey;
  text-align: center;
}